# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
crash.log

# Local .terraform directory
.terraform.local/

# Optional override files
override.tf
override.tf.json

# Workspace files
*.tfworkspace

# Terraform plan files
*.tfplan
